<footer class="container bg-black py-4">
    <div class="row">
        <div class="col-12 col-md">
            <a href="">Home</a>
            <span>|</span>
            <a href="">Sitemap</a>
            <span>|</span>
            <a href="">Contact Us</a>
        </div>
        <div class="col-12 col-md">
            <a href="https://time.buc-ees.com/ess">
            <img src="{{ asset('build/images/ess.jpg') }}">
            </a>
        </div>
        <div class="col-12 col-md">
            Page views since 8/8/2012: x,xxx,xxx &copy; {{ "now"|date('Y') }} Buc-ee's
        </div>
        <div class="col-12 col-md"></div>
    </div>
</footer>