<nav class="container navbar navbar-expand-md navbar-light bg-primary">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav flex-wrap">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/locations" class="nav-link">Locations</a></li>
            <li class="nav-item"><a href="/recipes" class="nav-link">
                    <span class="hilite_l" aria-hidden="true"></span>
                    Recipes
                    <span class="hilite_r" aria-hidden="true"></span>
                </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="carwashDropdownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Car Washes</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="carwashDropdownMenuLink">
                    <a href="" class="dropdown-item">Cypress</a>
                    <a href="" class="dropdown-item">Denton</a>
                    <a href="" class="dropdown-item">Lake Jackson</a>
                    <a href="" class="dropdown-item">Katy</a>
                    <a href="" class="dropdown-item">Richmond</a>
                </div>
            </li>
            <li class="nav-item"><a href="/careers" class="nav-link">Careers</a></li>
            <li class="nav-item"><a href="/contributions" class="nav-link">Contributions</a></li>
            <li class="nav-item"><a href="/vendors" class="nav-link">New Vendor Info</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact Us</a></li>
            <li class="nav-item"><a href="/faqs" class="nav-link">FAQs</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="aboutUsDropDownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">About Us</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="aboutUsDropDownMenuLink">
                    <a href="/restrooms" class="dropdown-item">Cleanest Restrooms</a>
                    <a href="/television" class="dropdown-item">Buc-ee's on TV</a>
                    <a href="/radio" class="dropdown-item">Buc-ee's on the Radio</a>
                    <a href="/youtube" class="dropdown-item">Buc-ee's on YouTube</a>
                    <a href="articles" class="dropdown-item">Articles about Buc-ee's</a>
                    <a href="/websites" class="dropdown-item">Websites about Buc-ee's</a>
                    <a href="/photos" class="dropdown-item">Fan Photos</a>
                </div>
            </li>

        </ul>

    </div>

</nav>