{% extends 'base.html.twig' %}

{% block content %}

    <div class="row py-3">
        <div class="col">
            <img class="img-fluid img-full" src="{{ asset('build/images/katyday.jpg') }}" alt="Katy Store in the Daytime">
        </div>
    </div>

{% endblock %}